<form action="/servicerequests/<%= @servicerequest.id =%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token =%>">
  <input type="hidden" name="_method" value="PATCH" />
  <h4>Edit</h4>
  <h5>Customer Name: </h5><input type="text" name="servicerequest[customer_name]" value="<%= @servicerequest.customer_name =%>"><br/>
  <h5>Bike Type: </h5><input  type="text" name="servicerequest[bike_type]" value="<%= @servicerequest.bike_type =%>"></textarea><br/>
  <h5>Estimated Cost: </h5><input type="integer" name="servicerequest[estimated_cost]" value="<%= @servicerequest.estimated_cost =%>"></textarea><br/>
  <h5>Bike from Shop: </h5><input type="boolean" name="servicerequest[bike_from_shop]" value="<%= @servicerequest.bike_from_shop =%>"></textarea><br/>
  <input id="submit" type="submit"/>
</form>