<a href="/bikeshops"><h4> All Bike Shops</h4></a>
<a href="/servicerequests"><h4>All Service Requests</h4></a>
<h1>Service Requests</h1>

<% @servicerequests.filter_bike_from_shop.each do |request| %>
  <ul>
    <li>Customer ID: <%= request.id =%></li>
    <li>Shop ID: <%= request.bikeshop_id =%></li>
    <li>Customer Name: <%= request.customer_name =%></li>
    <li>Bike Type: <%= request.bike_type =%></li>
    <li>Estimated Cost: <%= request.estimated_cost =%></li>
    <li>Bike from Shop: <%= request.bike_from_shop =%></li>
  </ul>

  <a href="/servicerequests/<%= request.id =%>/edit"><h5>Update Customer ID: <%= request.id =%> Service Request</h5></a>
<% end %>

