<a href="/bikeshops"><h4> All Bike Shops</h4></a>
<a href="/servicerequests"><h4>All Service Requests</h4></a>
<h1>Customer ID: <%= @servicerequest.id =%></h1>
<ul>
  <li>Customer Name: <%= @servicerequest.customer_name =%></li>
  <li>Bike Type: <%= @servicerequest.bike_type =%></li>
  <li>Estimated Cost: <%= @servicerequest.estimated_cost =%></li>
  <li>Bike from Shop: <%= @servicerequest.bike_from_shop =%></li>
</ul>