<h1>Customer ID: <%= @servicerequest.id =%></h1>
<ul>
  <li>Customer Name: <%= @servicerequest.customer_name =%></li>
  <li>Bike Type: <%= @servicerequest.bike_type =%></li>
  <li>Estimated Cost: <%= @servicerequest.estimated_cost =%></li>
  <li>Bike from Shop: <%= @servicerequest.bike_from_shop =%></li>
</ul>