<a href="/bikeshops"><h4> All Bike Shops</h4></a>
<a href="/servicerequests"><h4>All Service Requests</h4></a>
<h1><%= @bikeshop.name =%></h1>
<h3>Details</h3>
<ul>
  <li>Bike Shop ID: <%= @bikeshop.id =%></li>
  <li>Number of Employees: <%= @bikeshop.employees =%></li>
  <li>Rewards Program: <%= @bikeshop.rewards_program =%></li>
  <li>Created At: <%= @bikeshop.created_at =%></li>
  <li>Updated At: <%= @bikeshop.updated_at =%></li>
</ul>
<a href="/bikeshops/<%= @bikeshop.id =%>/edit"><h5>Update Shop</h5></a>
<h5><%= button_to "Delete #{@bikeshop.name}", "/bikeshops/#{@bikeshop.id}", method: :delete=%></h5>

<a href="/bikeshops/<%= @bikeshop.id =%>/servicerequests"><h3>Service Requests: <%= @bikeshop.request_count =%></h3></a>