<h1><%= @bikeshop.name =%> Service Requests</h1>

<%= link_to "Alphabetical", "/bikeshops/#{@bikeshop.id}/servicerequests?sorted=true" =%>

<%= form_with url: "/bikeshops/#{@bikeshop.id}/servicerequests?limit=true", method: :get, local: true do |form| =%>
  <%= form.label :cost_filter, "Return Estimated Cost Higher Than: " =%>
  <%= form.text_field :cost_filter =%>
  <%= form.submit "Only return records with more than Estimated Cost" =%>
<% end %>


<% @servicerequests.each do |request| %>
  <ul>
    <li>Customer Name: <%= request.customer_name =%></li>
    <li>Customer ID: <%= request.id =%></li>
    <li>Bike Type: <%= request.bike_type =%></li>
    <li>Estimated Cost: <%= request.estimated_cost =%></li>
    <li>Bike from Shop: <%= request.bike_from_shop =%></li>
  </ul>
<% end %>


<%= link_to "Create Service Request", "/bikeshops/#{@bikeshop.id}/servicerequests/new" =%>