<a href="/bikeshops"><h4> All Bike Shops</h4></a>
<a href="/servicerequests"><h4> All Service Requests</h4></a>
<h1><%= @bikeshop.name =%> Service Requests</h1>

<a href="/bikeshops/<%= @bikeshop.id =%>/servicerequests?sorted=true"<h5>Alphabetical</h5></a>

<% @servicerequests.each do |request| %>
  <ul>
    <li>Customer Name: <%= request.customer_name =%></li>
    <li>Customer ID: <%= request.id =%></li>
    <li>Bike Type: <%= request.bike_type =%></li>
    <li>Estimated Cost: <%= request.estimated_cost =%></li>
    <li>Bike from Shop: <%= request.bike_from_shop =%></li>
  </ul>
<% end %>

<a href="/bikeshops/<%= @bikeshop.id =%>/servicerequests/new"><h4>Create Service Request</h4></a>